<!DOCTYPE html>
<html>
  <head>
    <title>良衣疑问解答</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/answer.css">
	<link href="../css/normalize.css" rel="stylesheet" type="text/css" / >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="answer">
    	<p>疑问解答</p>
    </div>
	<hr style="background-color: black; height: 1px;">
	<h1>Tailorism多体型标准码</h1>
	<p>每一个标准码均有修身、合身、宽松三种版型，供不同体型的客人选择。以下为具体的成衣尺寸（单位：厘米）</p>
	<!--修身-->
	<div class="slim">
		<p class="slim_box">修身</p>
		<table border="1" cellspacing="0" cellpadding="0" class="slim_table">
			<tr>
				<th>领围</th>
				<th>适合身高</th>
				<th>肩</th>
				<th>袖长</th>
				<th>胸围</th>
				<th>腰围</th>
				<th>衣长</th>
			</tr>
			<tr>
				<td>37</td>
				<td>165</td>
				<td>42</td>
				<td>58</td>
				<td>96</td>
				<td>86</td>
				<td>70</td>
			</tr>
			<tr>
				<td>38</td>
				<td>170</td>
				<td>43</td>
				<td>58</td>
				<td>99</td>
				<td>89</td>
				<td>72</td>
			</tr>
			<tr>
				<td>39</td>
				<td>170</td>
				<td>44.5</td>
				<td>60</td>
				<td>102</td>
				<td>92</td>
				<td>74</td>
			</tr>
			<tr>
				<td>40</td>
				<td>175</td>
				<td>46</td>
				<td>62</td>
				<td>105</td>
				<td>95</td>
				<td>76</td>
			</tr>
			<tr>
				<td>41</td>
				<td>175</td>
				<td>46</td>
				<td>62</td>
				<td>105</td>
				<td>98</td>
				<td>78</td>
			</tr>
			<tr>
				<td>42</td>
				<td>180</td>
				<td>49</td>
				<td>64</td>
				<td>111</td>
				<td>101</td>
				<td>80</td>
			</tr>
			<tr>
				<td>43</td>
				<td>185</td>
				<td>49</td>
				<td>65</td>
				<td>114</td>
				<td>104</td>
				<td>82</td>
			</tr>
		</table>
	</div>
	<!--修身-->
	<div class="slim">
		<p class="slim_box">合身</p>
		<table border="1" cellspacing="0" cellpadding="0" class="slim_table">
			<tr>
				<th>领围</th>
				<th>适合身高</th>
				<th>肩</th>
				<th>袖长</th>
				<th>胸围</th>
				<th>腰围</th>
				<th>衣长</th>
			</tr>
			<tr>
				<td>37</td>
				<td>165</td>
				<td>42</td>
				<td>58</td>
				<td>96</td>
				<td>89</td>
				<td>70</td>
			</tr>
			<tr>
				<td>38</td>
				<td>170</td>
				<td>43</td>
				<td>58</td>
				<td>99</td>
				<td>92</td>
				<td>72</td>
			</tr>
			<tr>
				<td>39</td>
				<td>170</td>
				<td>44.5</td>
				<td>60</td>
				<td>102</td>
				<td>95</td>
				<td>74</td>
			</tr>
			<tr>
				<td>40</td>
				<td>175</td>
				<td>46</td>
				<td>62</td>
				<td>105</td>
				<td>98</td>
				<td>76</td>
			</tr>
			<tr>
				<td>41</td>
				<td>175</td>
				<td>47.5</td>
				<td>63</td>
				<td>108</td>
				<td>101</td>
				<td>78</td>
			</tr>
			<tr>
				<td>42</td>
				<td>180</td>
				<td>49</td>
				<td>64</td>
				<td>111</td>
				<td>104</td>
				<td>80</td>
			</tr>
			<tr>
				<td>43</td>
				<td>185</td>
				<td>49</td>
				<td>65</td>
				<td>114</td>
				<td>107</td>
				<td>85</td>
			</tr>
		</table>
	</div>
	<!--修身-->
	<div class="slim">
		<p class="slim_box">宽松</p>
		<table border="1" cellspacing="0" cellpadding="0" class="slim_table">
			<tr>
				<th>领围</th>
				<th>适合身高</th>
				<th>肩</th>
				<th>袖长</th>
				<th>胸围</th>
				<th>腰围</th>
				<th>衣长</th>
			</tr>
			<tr>
				<td>37</td>
				<td>165</td>
				<td>42</td>
				<td>58</td>
				<td>99</td>
				<td>95</td>
				<td>70</td>
			</tr>
			<tr>
				<td>38</td>
				<td>170</td>
				<td>43</td>
				<td>58</td>
				<td>102</td>
				<td>98</td>
				<td>72</td>
			</tr>
			<tr>
				<td>39</td>
				<td>170</td>
				<td>44.5</td>
				<td>60</td>
				<td>105</td>
				<td>101</td>
				<td>74</td>
			</tr>
			<tr>
				<td>40</td>
				<td>175</td>
				<td>46</td>
				<td>62</td>
				<td>108</td>
				<td>104</td>
				<td>76</td>
			</tr>
			<tr>
				<td>41</td>
				<td>175</td>
				<td>47.5</td>
				<td>63</td>
				<td>111</td>
				<td>107</td>
				<td>78</td>
			</tr>
			<tr>
				<td>42</td>
				<td>180</td>
				<td>49</td>
				<td>64</td>
				<td>114</td>
				<td>110</td>
				<td>80</td>
			</tr>
			<tr>
				<td>43</td>
				<td>180</td>
				<td>49</td>
				<td>65</td>
				<td>117</td>
				<td>113</td>
				<td>82</td>
			</tr>
			<tr>
				<td>44</td>
				<td>185</td>
				<td>49</td>
				<td>65</td>
				<td>118</td>
				<td>118</td>
				<td>84</td>
			</tr>
			<tr>
				<td>45</td>
				<td>180</td>
				<td>49</td>
				<td>65</td>
				<td>122</td>
				<td>122</td>
				<td>86</td>
			</tr>
		</table>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>

